Lesson 6/source.txt
[{"id":"285edbb8.ca80f4","type":"tab","label":"Flow 1 oscar","disabled":false,"info":""},{"id":"feeb5bb5.090538","type":"arduino out","z":"285edbb8.ca80f4","name":"","pin":"13","state":"OUTPUT","arduino":"56e814bf.d682dc","x":1120,"y":200,"wires":[]},{"id":"6b249992.3d7918","type":"arduino out","z":"285edbb8.ca80f4","name":"","pin":"12","state":"OUTPUT","arduino":"56e814bf.d682dc","x":1120,"y":260,"wires":[]},{"id":"7ec81e3.9179ee","type":"arduino out","z":"285edbb8.ca80f4","name":"","pin":"11","state":"OUTPUT","arduino":"56e814bf.d682dc","x":1130,"y":340,"wires":[]},{"id":"c2cbc83c.029508","type":"ui_button","z":"285edbb8.ca80f4","name":"","group":"d1ee4d0d.7f927","order":0,"width":0,"height":0,"passthru":false,"label":"Green","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":200,"wires":[["7ba7c239.326cfc"]]},{"id":"7ba7c239.326cfc","type":"function","z":"285edbb8.ca80f4","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["feeb5bb5.090538"]]},{"id":"5015e3f8.973f5c","type":"function","z":"285edbb8.ca80f4","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["6b249992.3d7918"]]},{"id":"c7560161.b4d68","type":"function","z":"285edbb8.ca80f4","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["7ec81e3.9179ee"]]},{"id":"a2715655.c26388","type":"ui_button","z":"285edbb8.ca80f4","name":"","group":"60b6e40c.55c6dc","order":0,"width":0,"height":0,"passthru":false,"label":"Yellow","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":260,"wires":[["5015e3f8.973f5c"]]},{"id":"ad07ab07.3e57e8","type":"ui_button","z":"285edbb8.ca80f4","name":"","group":"fa49dc4d.6671b","order":0,"width":0,"height":0,"passthru":false,"label":"Red","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":340,"wires":[["c7560161.b4d68"]]},{"id":"625d7aa1.a89a34","type":"function","z":"285edbb8.ca80f4","name":"","func":"context.level = context.level || 0;\n\nvar msg2 = {payload:false};\n\nif (context.level === 0) {\n    msg.payload = true;\n    context.level +=1;\n    return [msg, msg2, msg2];\n} else if (context.level === 1) {\n    msg.payload = true;\n    context.level +=1;\n    return [ msg2, msg, msg2];\n} \nelse {\n    msg.payload = true;\n    context.level =0;\n    return [msg2, msg2, msg];\n}\n","outputs":3,"noerr":0,"x":830,"y":460,"wires":[["feeb5bb5.090538"],["6b249992.3d7918"],["7ec81e3.9179ee"]]},{"id":"965ee18c.e38b7","type":"inject","z":"285edbb8.ca80f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":440,"wires":[["625d7aa1.a89a34"]]},{"id":"56e814bf.d682dc","type":"arduino-board","z":"","device":"COM9"},{"id":"d1ee4d0d.7f927","type":"ui_group","z":"","name":"Default","tab":"33caca3e.f74b76","disp":true,"width":"6","collapse":false},{"id":"60b6e40c.55c6dc","type":"ui_group","z":"","name":"Default","tab":"33caca3e.f74b76","disp":true,"width":"6","collapse":false},{"id":"fa49dc4d.6671b","type":"ui_group","z":"","name":"Default","tab":"33caca3e.f74b76","disp":true,"width":"6","collapse":false},{"id":"33caca3e.f74b76","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
